@import "{{ minima }}";

body {
    background-color: #ffe9a8; /* Replace #ADD8E6 with your desired color code */
    font-family: 'Courier New', monospace;
    font-size: 16pt;
    max-width: 700px;
    padding-top: 15px;
    padding: 12px;
    padding-bottom: 0;
    font-weight: normal;

}

@media only screen and (min-width: 481px) {
    body {
        background-color: #ffe9a8; /* Replace #ADD8E6 with your desired color code */
        font-family: 'Courier New', monospace;
        font-size: 16pt;
        max-width: 700px;
        padding-top: 15px;
        padding-right: 24px;
        padding-left: 24px;
    }
  }

h1 {
    color: #f3657a; /* Pastel Pink */
}
