@import "{{ minima }}";

body {
    font-family: 'Courier New', monospace;
    background-color: #ffe9a8; /* Replace #ADD8E6 with your desired color code */
}
}

h1 {
    color: #f3657a; /* Pastel Pink */
}
